body {
	margin-top: 40px;
}

#myapp {
	border: 5px solid lightsteelblue;
	border-radius: 20px;
}

.messages {
	margin: 1em;
	border: 1px solid #ddd;
	border-radius: 10px; 
	padding: 1em;
}

.message_form,
.change_name_form {
	padding: 1em;
}