body {
	margin-top: 40px;
}

#myapp {
	border: 5px solid steelblue;
	border-radius: 10px;
	margin: 1em;
}

h2#name {
	margin-left: 1em;
	color: steelblue;
	text-shadow: 0 1px 1px rgba(0,0,0,.12);
}

#usersList {
	height: 400px;
	overflow: hidden;
	overflow-y: auto;
}

.messages {
	margin-top: 1em;
	border: 1px solid #ddd;
	border-radius: 10px;
	height: 300px;
	padding: 1em;
	overflow: hidden;
	overflow-y: auto;
}

/*.message_form,
.change_name_form {
	padding: 1em;
}*/
