body {
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	background-color: rgba(255, 255, 255, .95);
	font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
}

html {
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

#app {
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

#githubDiv {
	height: 100%;
	transform: translate(0, 25%);
	min-height: 100%;
}

#userNameDiv {
	height: 100%;
	min-height: 100%;
	border-left: 1px solid rgba(0, 0, 0, .30);
}

#nav {
	height: 8%;
	border-bottom: 1px solid rgba(0, 0, 0, .10);
	text-align: center;
	margin-bottom: 0px;
	display: block;
}

#github {
	text-align: center;
	font-size: 20px;
}

#userName {
	text-align: center;
	transform: translate(0, 50%);
}

#usersList {
	height: 400px;
	overflow: hidden;
	overflow-y: auto;
}

.messages {
	padding-top: 1em;
	height: 85%;
	position: relative;
	overflow: hidden;
	overflow-y: auto;
}

#MessageBox {
	border-left: 1px solid rgba(0, 0, 0, .30) !important;
	padding: 0;
	height: 100%;
	position: relative;
}

#UsersBox {
	padding: 0;
	height: 100%;
	position: relative;
}

.message_form {
	margin-bottom: 10px;
}

.change_name_form {
	margin-left: 60px;
	top: 90%;
	position: absolute;
}

#messageList {
	border-bottom: 1px solid rgba(0, 0, 0, .10) !important;
}

#messageFormInput {
	border-radius: 0;
	border-width: 0px;
	height: 100%;
	width: 100%;
	min-width: 100%;
	padding-left: 20px;
}

#nameFormInput {
	border-radius: 0;
	border-width: 0px;
}

*:focus {
	outline: none;
}